@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --clr1:#6A759B;
    --clr2:#F1F6F8;
    --clr3:#B9D4F1;
    --clr4:#21273D;

}
::-webkit-scrollbar{
    display: none;
}
input::placeholder{
    color: var(--clr4);
}
html{
    font-size: 16px;
}
*{
    font-family:  'Josefin Sans', sans-serif;
}
::selection{
    color: white;
}
.tasks{
    box-shadow: rgba(0, 0, 0, 0.552) 0px 0px 80px 0px;
    border-radius: 10px;
}
.header-add{
    font-weight: 700;
}
@media screen and (max-width:635px) {
    .fg{
        justify-content: space-evenly;
    }
    .header{
        width: 90%;
        height: 8rem;
        justify-content: start;
        gap:1rem;
    }
    .header-h1{
        font-size: 3rem;
    }
    .header-form{
        height: max-content;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .header-action{
        justify-content: start;
        width: 100%;
    }
    .header-input{
        width: 100%;
        height: 3rem;
    }
    .lg{
        display: none;
    }
    .small-sc{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 3.5rem;
        justify-content: space-between;
    }
    .header-sel{
        height: 100%;
        width: 50%;

    }
    .tasks{
        width: 90%;
        height: 65%;
    }
    
}
/* @media screen and (max-width:550px) {
    html{
        font-size: 15.5px;
    }
}*/
@media screen and (max-width:450px) {
    html{
        font-size: 15px;
    }
} 